/* Style stHeader */
[data-testid="stHeader"]{
    height: 250px;
    background-image: url("https://raw.githubusercontent.com/kunal-mallick/Energy_Production/working/Images/Frame%201.png");
    background-size: 100%;
    background-position: top-left;
    background-repeat: no-repeat;
    background-attachment: local;
}

[data-testid="stText"]{
    color:  #34D260;
    text-align: center;
    font-size: 36px;
}

footer{
    visibility: hidden;
}